body {
  background-color: chocolate;
}

.card {
  transition: all 1s ease-in-out;
  width: 10rem;
  border: 2px solid salmon;
  margin-left: 10rem;
  &:hover {
    transform: scale(1.5);
  }
}

.highlight {
  background-color: lime-green;
  font-size: 3em;
  -webkit-transition: all 3s ease;
}

// .person {
//     width: 200px;
//     text-align: center;
//     border: 1px solid black;
//     padding: 10px;
//     margin: 10px;
//     display: inline-block;
// }
//
// .person-name {
//     font-weight: bold;
// }
//
// .growIMG {
//     transform: scale(1.5);
// }
//
// .person-img {
//     display: block;
//     max-width: 128px;
//     max-height: 128px;
//     margin: 10px auto;
//     transition: all 1s ease-in-out;
// }
//
// .highlight {
//     background-color: salmon;
//     font-size: 3em;
//     -webkit-transition: all 3s ease;
// }
