body {
  background-color: chocolate;
}

.card {
  transition: all 1s ease-in-out;
  width: 10rem;
  border: 2px solid salmon;
  margin-left: 10rem;
  &:hover {
    transform: scale(1.5);
  }
}

.highlight {
  background-color: lime-green;
  font-size: 3em;
  -webkit-transition: all 3s ease;
}
